<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Kittât</title>
		<!-- linking cascading stylesheet  -->
		<link rel="stylesheet" href="/css/style.css">
    <!-- including javascript file -->
		<script src="js/script.js" async></script>
	</head>
<body>
